/*Landing*/
.header-color {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);
}

.landing-grid {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);

  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

.avatar-img {
  border-radius: 2%;
  width: 210px;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 6opx;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px line white;
  width: 70%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

/*Contact*/
.contact-body {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);

  margin: auto;

  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 95%;
  height: 590px;
  background: white;
  color: black;

  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: solid black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right: 5rem;
}

.font1-1 {
  font-size: 30px;
}

.mailto {
  color: black;
}

/*About Me*/
.about-right-col {
  background: black;
  color: white;
  padding: 1em;
}

.about-background {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 60%;
}

/*Resume*/
.div-Background {
  background: #000046;
  background: -webkit-linear-gradient(to right, #1cb5e0, #000046);
  background: linear-gradient(to right, #1cb5e0, #000046);

  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cell-Background {
  background: black;
}

.HR {
  border-top: 5px line white;
  width: 70%;
  margin: auto;
}

.font1 {
  font-size: 40px;
  color: white;
  font-family:uni-sans;
}


.font1 h4{
  font-size: 20px;
  color: white;
  text-align: left;
  font-family:uni-sans;
}



.font1 p{
  font-size: 20px;
  color: white;
  font-family: uni-sans;
}

.font4{
  font-size: 30px;
  color: white;
  font-family: uni-sans;
}

.font4 p{
  font-size: 20px;
  color: white;
  font-family: uni-sans;
}

.font2 {
  font-size: 25px;
  color: white;
  font-family: uni-sans;
}

.font2 h4 {
  font-size: 25px;
  color: white;
  text-align: left;
  font-family: uni-sans;
}

.font2 p {
  font-size: 25px;
  color: white;
  text-align: left;
  font-family: uni-sans;
}

.font3 {
  font-size: 20px;
  color: white;
  font-family: uni-sans;
}

.imgSize {
  height: 350px;
}

.imgSize2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.submitbutton {
  border-radius: 8px;
  background-color: green;
  color:white;
}

.letters {
  font-family: uni-sans;
}